/* CSS personalizado */
/* Estilos Globales */
body{
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-weight: 200;
    font-size: 0.8rem;
    background-color: #010103;
}
a{
    font-family: "Montserrat", sans-serif;
}

#carouselExample{
    height: 100vh;
}
.carousel-inner{
    height: 100%;
}
.quienesSomos{
    background-color: #010103;
}
.icon{
    font-size: 1.4rem;
}
.custom-tooltip {
    --bs-tooltip-bg: #fff;
    --bs-tooltip-color: #000;
  }
  .bg-color{
    background-color: #fff !important;
    color: #000 !important;
    transition: all 0.5s ease-in-out ;
  }
  .bg-color a{
    color: #000 !important;
  }

  /* Media Query */
@media (max-width: 767.98px) { 
    #carouselExample {
        height: auto !important;
    }
    .navbar-toggler{
        background-color:#fff ;
        border: none;
    }
    .collapse{
        background-color: #fff;
        border-radius: 10px;
        padding: 15px;
    }
    .collapse a{
        color: #000 !important;
    }
}